name: Packaging

on:
  release:
    types: [published]

  workflow_dispatch:

env:
  PROJECT: buvar
  # renovate: datasource=github-tags depName=uv lookupName=astral-sh/uv
  UV_VERSION: 0.7.13

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: ${{ env.UV_VERSION }}

      - run: uv sync --dev --frozen
      - run: uv run pytest --cov buvar

      - name: Build source distribution
        run: uv build --sdist

      - name: archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: buvar-sdist
          retention-days: 1
          path: |
            ./dist/${{ env.PROJECT }}-*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # INFO: https://github.com/pypa/gh-action-pypi-publish/issues/215
        os: [ubuntu-latest, macos-latest]
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     platform:
    #       - manylinux_2_28_x86_64
    #     version:
    #       - cp313-cp313
    #       - cp312-cp312
    #       - cp311-cp311
    # runs-on: ubuntu-latest
    # container:
    #   image: quay.io/pypa/manylinux_2_28_x86_64:latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: ${{ env.UV_VERSION }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        # env:
        #   CIBW_SOME_OPTION: value
        #   ...
        # with:
        #   package-dir: .
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"
      #
      # - name: Build wheels
      #   run: |
      #     export PATH="/opt/python/${{ matrix.version }}/bin:${PATH}"
      #     uv build --wheel
      #     ls -la ./dist
      #     auditwheel repair ./dist/*.whl --plat ${{ matrix.platform }}
      #
      # - name: build wheels
      #   run: |
      #     export PATH="/opt/python/${{ matrix.version }}/bin:${PATH}"
      #     pip install setuptools
      #     pip wheel -w ./wheelhouse cython pip
      #     pip install -U cython pip -f ./wheelhouse
      #     python setup.py bdist_wheel -d wheels
      #     auditwheel repair ./wheels/${PROJECT}*${{ matrix.version }}*.whl \
      #       --plat ${{ matrix.platform }} -w ./dist
      #     pip install ./dist/${PROJECT}*${{ matrix.version }}*.whl
      #     pip install "${PROJECT}[tests]" -f ./dist -f ./wheelhouse
      #     pytest tests
      #
      - name: archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: buvar-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          # retention-days: 1

  publish_sdist:
    needs:
      - build_sdist
      - build_wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/${{ env.PROJECT }}  # Replace <package-name> with your PyPI project name
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: buvar-sdist
          path: dist

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  publish_wheels:
    needs:
      - build_sdist
      - build_wheels
    environment:
      name: pypi
      url: https://pypi.org/p/${{ env.PROJECT }}
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: buvar-*
          path: dist
          merge-multiple: true

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
